<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group search-box">
                <input type="text" class="form-control input-lg" id="search-movie" placeholder="Search Movie">
                <div id="result"></div>
                <i class="glyphicon glyphicon-remove search-movie-remove"></i>
            </div>
        </div>
    </div>
</div>