<h2 class="media-title">Video</h2>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="col-md-12" src="https://www.youtube.com/embed/<%= data.data.movie.yt_trailer_code %>?vq=hd720" frameborder="0" allowfullscreen></iframe>
</div>