<!doctype html>
<html lang="en">
<head>
    <title>It's movie time</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body class="home">
    <% include partials/header %>
    <main class="container">
        <div class="row">
            <% include partials/movies %>
        </div>
        <% include partials/pagination %>
    </main>
    <% include partials/footer %>
</body>
</html>