/****** Home ******/
.movie-thumbnails {
    margin-bottom: 20px;
    min-height: 510px;
    position: relative
}

/****** Movie ******/
.movie-poster,
.movie-info {
    margin-bottom: 40px
}

.movie-poster img {
    margin: 0 auto
}
