/****** Header ******/
header {
    margin-bottom: 40px
}

/****** Container ******/
.container {
    margin-bottom: 20px;
}

/****** Home ******/
.movie-thumbnails {
    margin-bottom: 20px;
    min-height: 510px;
    position: relative
}

/****** Movie ******/
.movie-poster,
.movie-info {
    margin-bottom: 40px
}

.movie-poster img {
    margin: 0 auto
}

.media-title {
    padding-left: 15px;
    padding-right: 15px
}

.search-box{
    position:relative;
}

.search-movie-remove{
    position:absolute;
    top:10px;
    right:10px;
    font-size:25px;
    display:none;
    cursor: pointer;
    z-index:10;
}

#result{
    max-height: 400px;
    width:100%;
    position:absolute;
    top:50px;
    background:#fff;
    z-index:100;
    overflow-y:scroll;
    border:1px solid #66afe9;
    border-radius:3px;
    display:none;
}

#result.active , .search-movie-remove.active{
    display:block;
}

#result article a{
    display:flex;
    align-items: center;
    padding:5px;
}

#result article:hover{
    background:#66afe9;
    color:#fff;
}

#result article a{
    text-decoration: none;
    color:inherit;
}

#result article a img{
    border:1px solid #ccc;
}

#result article a *{margin-right:15px;}

#result p{margin:0;}
